<div data-ng-controller="profile-controller" data-ng-init = "onLoad()" id="profile-page">

  <div ng-hide="goCats" id="options">
    <button ng-click = "in = !in" id='inbox' class="btn btn-info">Inbox</button>
    <button ng-click="co = !co" id='compose' class="btn btn-warning" >Compose</button>
    <button ng-click = "ou = !ou" id='outbox' class="btn btn-success" >Outbox</button>
    <button id='signout' ng-click="logout()" class="btn btn-danger">Sign out</button>
  </div>

                          <!-- Edit profile html content -->

  <div id="editP"><button ng-click="goCats = !goCats" id='eProfile' class="btn btn-lg btn-primary">Edit Profile</button></div>

  <div id="editform" >
    <form ng-show="goCats">
      Username<br/>
      <input ng-model="username" id="username" type="text" placeholder="username.."/><br/>
      Password<br/>
      <input ng-model="password" id="username" type="password" placeholder="password.."/><br/>
      First name<br/>
      <input ng-model="firstname" id="username" type="text" placeholder="firstname.."/><br/>
      Last name<br/>
      <input ng-model="lastname" id="username" type="text" placeholder="lastname.."/><br/>
      Email<br/>
      <input ng-model="email" id="username" type="text" placeholder="email.."/><br/>
      Phone<br/>
      <input  ng-model="phone" id="username" type="text" placeholder="phone.."/><br/>
      Location<br/>
      <input  ng-model="location" id="username" type="text" placeholder="location.."/><br/>
      <button ng-click="updateInfo()" class="btn btn-success" class='register'>Update</button>
    </form>
  </div>
                <!--- End of Edit profile html content -->
                  <!-- Inbox html content -->
  <div ng-hide="goCats">
    <div ng-show="in">
    <div   ng-repeat ="msgs in messages | filter:{recipient:loggedUser} " id="show-inbox">
      <p>{{loggedUser}}</p>
      <p>{{"Sent From: "+msgs.sender}}</p>
      <p>{{"Subject: "+msgs.title}}</p>
      <p>{{"Message: "+msgs.description}}</p>
      <button ng-click="replyButton(msgs)" id="reply-button" class="btn btn-outline-success">Reply</button>
      <button ng-click="deleteMessage(msgs)"id="delete-button" class="btn btn-outline-danger">Delete</button>
    </div>
    <div id="reply-inbox" ng-show="re">
      To:<br/>
       <input ng-model="replyEmail" style="width:67.8%;" type = "email" placeholder="email"><br/>
      Subject:<br/>
      <input ng-model = "replySubject" style="width:67.8%;" type = "text" placeholder="Re: "><br/>
      Message:<br/>
      <textarea rows="10" cols="60" ng-model = "replyMessage"  type = "text" placeholder="Message"/><br/>
      <button ng-click="replySend()">Send</button>
      <button ng-click="in = false">Cancel</button>
      <img src=images/starred.png/>
      <img src=images/unstarred.png/>

    </div>
  </div>
</div>
        <!-- Outbox -->
  <div ng-show="ou">
    <div ng-repeat ="msgs in messages | filter:{sender:loggedUser} " id="show-outbox">
      <p>{{loggedUser}}</p>
      <p>{{"Sent To: "+msgs.recipient}}</p>
      <p>{{"Subject: "+msgs.title}}</p>
      <p>{{"Message: "+msgs.description}}</p>
    </div>
  </div>
                  <!-- Compose html content -->
  <!-- <div > -->
  <div ng-show="co">
    <div id="compose-box" id="head-compose">
      To:<br/>
       <input ng-model ="emailtoSend" style="width:67.8%;" type = "email" placeholder="email"><br/>
       Subject:<br/>
       <input ng-model = "replySubject" style="width:67.8%;" type = "text" placeholder="Re: "><br/>
      Message:<br/>
      <textarea rows="10" cols="60" ng-model = "replyMessage"  type = "text" placeholder="Message"/><br/>
      <button ng-click="compose()">Send</button>
      <button ng-click="co = false">Cancel</button>
    <!-- </div> -->
    </div>
  </div>
</div>
  <!-- close of controller -->
